/ArmstrongNumber.class
/ArrayAvgSum.class
/Assign_Condition_Check.class
/Calculator.class
/CountDigits.class
/DoWhile.class
/DoWhileTask.class
/EvenOrOdd.class
/Factorial.class
/FirstPgm.class
/For_loop.class
/If_else_statement.class
/If_statement.class
/Insertbetweenstring.class
/LarestElementArray.class
/MultiDimensionArray.class
/Mutliplication_Forloop.class
/NestedIf.class
/Nested_For.class
/Number3IncreaseorDecrease.class
/ObtEmployee.class
/Operators.class
/Palindrome.class
/Pattern1.class
/PositiveOrNegative.class
/PrimeNumber.class
/Print1to99.class
/PrintAlphabets.class
/Print_second_digit.class
/ReverseSentence.class
/ReverseString.class
/Reverse_number.class
/ScaNew.class
/SingleArray.class
/Size_switch.class
/StringEvenprint.class
/StringPalindrome.class
/StringTestPgm.class
/Swap_numbers.class
/Swap_without_Third.class
/Switch_Month.class
/Task.class
/TestDataTypes.class
/ThreeNumber_Larger.class
/Two_numbers_Equal.class
/WhileLoop.class
/countNumbers.class
/fibnocciseries.class
